In [1]:
import sys
from pathlib import Path

PROJECT_ROOT = Path.cwd().parent
sys.path.insert(0, str(PROJECT_ROOT))

In [2]:
from src.data_loader import load_data

spy = load_data()

In [3]:
spy.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2010-01-04 00:00:00-05:00,84.307697,85.072968,83.662465,85.027954,118944600,0.0,0.0,0.0
1,2010-01-05 00:00:00-05:00,84.975410,85.290522,84.667797,85.253006,111579900,0.0,0.0,0.0
2,2010-01-06 00:00:00-05:00,85.170519,85.523147,85.102998,85.313072,116074400,0.0,0.0,0.0
3,2010-01-07 00:00:00-05:00,85.155485,85.778209,84.915399,85.673172,131091100,0.0,0.0,0.0
4,2010-01-08 00:00:00-05:00,85.448107,85.995806,85.275549,85.958290,126402800,0.0,0.0,0.0

In [4]:
from src.features import add_MA, add_EMA, add_returns, add_volatility, add_distances, add_cumulated_returns, add_rsi, add_target, add_all_features

In [ ]:
df1 = spy.copy()
df1 = add_all_features(df1)
df1 = add_target(df1)
df1.drop(['Dividends', 'Stock Splits', 'Capital Gains'], axis=1)

,Date,Open,High,Low,Close,Volume,MA10,MA50,EMA20,Return,Log Return,Volatility,Distance_MA50,Distance_EMA20,Cumulated_Return_5d,RSI14,Trend
0,2010-01-04 00:00:00-05:00,84.307697,85.072968,83.662465,85.027954,118944600,NaN,NaN,85.027954,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,Bear
1,2010-01-05 00:00:00-05:00,84.975410,85.290522,84.667797,85.253006,111579900,NaN,NaN,85.146106,0.002647,0.002643,NaN,NaN,0.001255,NaN,NaN,Bear
2,2010-01-06 00:00:00-05:00,85.170519,85.523147,85.102998,85.313072,116074400,NaN,NaN,85.207415,0.000705,0.000704,NaN,NaN,0.001240,NaN,NaN,Bear
3,2010-01-07 00:00:00-05:00,85.155485,85.778209,84.915399,85.673172,131091100,NaN,NaN,85.341872,0.004221,0.004212,NaN,NaN,0.003882,NaN,NaN,Bear
4,2010-01-08 00:00:00-05:00,85.448107,85.995806,85.275549,85.958290,126402800,NaN,NaN,85.490978,0.003328,0.003322,NaN,NaN,0.005466,NaN,NaN,Bear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,2024-12-23 00:00:00-05:00,584.031655,588.390442,580.839104,587.787537,57635800,590.267548,582.895710,589.035274,0.005988,0.005970,0.008463,0.008392,-0.002118,-0.016642,43.148972,Range
3769,2024-12-24 00:00:00-05:00,589.141630,594.360375,588.558452,594.320801,33160100,590.319147,583.270115,589.538657,0.011115,0.011054,0.008789,0.018946,0.008112,-0.001599,46.098056,Range
3770,2024-12-26 00:00:00-05:00,592.541682,595.487074,591.138180,594.360352,41219100,589.915649,583.734755,589.997866,0.000067,0.000067,0.008719,0.018203,0.007394,0.029140,46.981837,Range
3771,2024-12-27 00:00:00-05:00,590.604424,590.841689,583.903150,588.103821,64969300,589.194830,584.024615,589.817481,-0.010526,-0.010582,0.009024,0.006985,-0.002905,0.018619,40.972910,Range
3772,2024-12-30 00:00:00-05:00,581.066452,584.871741,577.626803,581.392578,56578800,587.814709,584.179269,589.015109,-0.011412,-0.011477,0.009232,-0.004770,-0.012941,-0.004957,38.596111,Range

In [14]:
#Test of the target
ratio = df1["Trend"].value_counts(normalize = True)
ratio

#The target values seems normally dsitributed, the thresholds applied can be changed but must be checked with this cell to see the distribution

Trend
Range    0.564007
Bull     0.237212
Bear     0.198781
Name: proportion, dtype: float64