In [1]:
import sys
from pathlib import Path

PROJECT_ROOT = Path.cwd().parent
sys.path.insert(0, str(PROJECT_ROOT))

In [2]:
from src.data_loader import load_data

spy = load_data()

In [3]:
spy.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2010-01-04 00:00:00-05:00,84.307682,85.072953,83.662450,85.027939,118944600,0.0,0.0,0.0
1,2010-01-05 00:00:00-05:00,84.975403,85.290514,84.667790,85.252998,111579900,0.0,0.0,0.0
2,2010-01-06 00:00:00-05:00,85.170481,85.523108,85.102960,85.313034,116074400,0.0,0.0,0.0
3,2010-01-07 00:00:00-05:00,85.155500,85.778224,84.915414,85.673187,131091100,0.0,0.0,0.0
4,2010-01-08 00:00:00-05:00,85.448107,85.995806,85.275549,85.958290,126402800,0.0,0.0,0.0

In [4]:
from src.features import add_MA, add_EMA, add_returns, add_volatility, add_distances, add_cumulated_returns, add_rsi, add_target, add_all_features

In [5]:
df1 = spy.copy()
df1 = add_all_features(df1)
df1 = add_target(df1)
df1

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,MA10,MA50,EMA20,Return,Log Return,Volatility,Distance_MA50,Distance_EMA20,Cumulated_Return_5d,RSI14,Trend
0,2010-01-04 00:00:00-05:00,84.307682,85.072953,83.662450,85.027939,118944600,0.0,0.0,0.0,NaN,NaN,85.027939,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,Bear
1,2010-01-05 00:00:00-05:00,84.975403,85.290514,84.667790,85.252998,111579900,0.0,0.0,0.0,NaN,NaN,85.146095,0.002647,0.002643,NaN,NaN,0.001256,NaN,NaN,Bear
2,2010-01-06 00:00:00-05:00,85.170481,85.523108,85.102960,85.313034,116074400,0.0,0.0,0.0,NaN,NaN,85.207394,0.000704,0.000704,NaN,NaN,0.001240,NaN,NaN,Bear
3,2010-01-07 00:00:00-05:00,85.155500,85.778224,84.915414,85.673187,131091100,0.0,0.0,0.0,NaN,NaN,85.341861,0.004222,0.004213,NaN,NaN,0.003882,NaN,NaN,Bear
4,2010-01-08 00:00:00-05:00,85.448107,85.995806,85.275549,85.958290,126402800,0.0,0.0,0.0,NaN,NaN,85.490970,0.003328,0.003322,NaN,NaN,0.005466,NaN,NaN,Bear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,2024-12-23 00:00:00-05:00,584.031655,588.390442,580.839104,587.787537,57635800,0.0,0.0,0.0,590.267535,582.895714,589.035265,0.005988,0.005970,0.008463,0.008392,-0.002118,-0.016642,43.149005,Range
3769,2024-12-24 00:00:00-05:00,589.141630,594.360375,588.558452,594.320801,33160100,0.0,0.0,0.0,590.319128,583.270118,589.538649,0.011115,0.011054,0.008789,0.018946,0.008112,-0.001599,46.098074,Range
3770,2024-12-26 00:00:00-05:00,592.541743,595.487135,591.138241,594.360413,41219100,0.0,0.0,0.0,589.915637,583.734760,589.997865,0.000067,0.000067,0.008719,0.018203,0.007394,0.029140,46.981911,Range
3771,2024-12-27 00:00:00-05:00,590.604363,590.841628,583.903089,588.103760,64969300,0.0,0.0,0.0,589.194812,584.024620,589.817474,-0.010527,-0.010582,0.009024,0.006985,-0.002905,0.018619,40.972863,Range
3772,2024-12-30 00:00:00-05:00,581.066391,584.871680,577.626742,581.392517,56578800,0.0,0.0,0.0,587.814685,584.179270,589.015097,-0.011412,-0.011477,0.009232,-0.004770,-0.012941,-0.004957,38.596118,Range

In [ ]:
#Test of the target
ratio = df1['Trend' == 'Range'].count() / len(df1['Trend'])

0.17333686721441824

In [32]:
#Test of the target
ratio = df1["Trend"].value_counts(normalize = True)
ratio

Trend
Bull     0.475749
Range    0.325470
Bear     0.198781
Name: proportion, dtype: float64

In [7]:
df1.drop(['Trend'], axis=1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,MA10,MA50,EMA20,Return,Log Return,Volatility,Distance_MA50,Distance_EMA20,Cumulated_Return_5d,RSI14
0,2010-01-04 00:00:00-05:00,84.307682,85.072953,83.662450,85.027939,118944600,0.0,0.0,0.0,NaN,NaN,85.027939,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
1,2010-01-05 00:00:00-05:00,84.975403,85.290514,84.667790,85.252998,111579900,0.0,0.0,0.0,NaN,NaN,85.146095,0.002647,0.002643,NaN,NaN,0.001256,NaN,NaN
2,2010-01-06 00:00:00-05:00,85.170481,85.523108,85.102960,85.313034,116074400,0.0,0.0,0.0,NaN,NaN,85.207394,0.000704,0.000704,NaN,NaN,0.001240,NaN,NaN
3,2010-01-07 00:00:00-05:00,85.155500,85.778224,84.915414,85.673187,131091100,0.0,0.0,0.0,NaN,NaN,85.341861,0.004222,0.004213,NaN,NaN,0.003882,NaN,NaN
4,2010-01-08 00:00:00-05:00,85.448107,85.995806,85.275549,85.958290,126402800,0.0,0.0,0.0,NaN,NaN,85.490970,0.003328,0.003322,NaN,NaN,0.005466,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768,2024-12-23 00:00:00-05:00,584.031655,588.390442,580.839104,587.787537,57635800,0.0,0.0,0.0,590.267535,582.895714,589.035265,0.005988,0.005970,0.008463,0.008392,-0.002118,-0.016642,43.149005
3769,2024-12-24 00:00:00-05:00,589.141630,594.360375,588.558452,594.320801,33160100,0.0,0.0,0.0,590.319128,583.270118,589.538649,0.011115,0.011054,0.008789,0.018946,0.008112,-0.001599,46.098074
3770,2024-12-26 00:00:00-05:00,592.541743,595.487135,591.138241,594.360413,41219100,0.0,0.0,0.0,589.915637,583.734760,589.997865,0.000067,0.000067,0.008719,0.018203,0.007394,0.029140,46.981911
3771,2024-12-27 00:00:00-05:00,590.604363,590.841628,583.903089,588.103760,64969300,0.0,0.0,0.0,589.194812,584.024620,589.817474,-0.010527,-0.010582,0.009024,0.006985,-0.002905,0.018619,40.972863
3772,2024-12-30 00:00:00-05:00,581.066391,584.871680,577.626742,581.392517,56578800,0.0,0.0,0.0,587.814685,584.179270,589.015097,-0.011412,-0.011477,0.009232,-0.004770,-0.012941,-0.004957,38.596118

In [10]:
df1 = add_target(df1, goalreturn=(0.03, 0.015))
ratio = df1["Trend"].value_counts(normalize = True)
ratio

Trend
Range    0.564007
Bull     0.237212
Bear     0.198781
Name: proportion, dtype: float64